

.random-dish{
    text-align: center;
    margin-top: 20px;

}

.random-button button{
    padding: 15px 25px;
    background-color: orange;
    border: 5px solid white;
    cursor: pointer;
    color: white;
    font-weight: bold;
}
.random-button button:hover{
    background-color: white;
    border: 5px solid orange;
    color: orange;
}
.random-card{
    margin: 20px auto;
    width: 80%;
}
.card p{
    font-size: 50px;
}

.card img{
    width: 250px;
    height: 250px;
    border: 1px solid black;
}
.meal_instur{
    margin-top: 20px;
    border: 5px solid orange;
    padding: 20px;
}